{# Template from https://startbootstrap.com/template-overviews/sb-admin/ #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test your knowledge about Symfony and PHP environment">
    <meta name="author" content="Stéphane GIBERNE">
    <title>Certificationy</title>
    
    {% block stylesheets_block %}
        {% stylesheets
            '@CertificationyWebBundle/Resources/public/vendor/bootstrap/css/bootstrap.min.css'
            '@CertificationyWebBundle/Resources/public/vendor/font-awesome/css/font-awesome.min.css'
            '@CertificationyWebBundle/Resources/public/css/sb-admin.css'
            '@CertificationyWebBundle/Resources/public/css/certificationy-web.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
          {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="bg-dark">
        <div class="container">
            <div class="row mx-auto mt-5">
                <div class="col-lg-3">
                    {% block sidebar %}

                    {% endblock %}
                </div>
                <div class="col-lg-9">
                        {% block body %}
                                
                        {% endblock %}
              </div>
            </div>
        </div>
        {% block javascripts_block %}
            {% javascripts 
                '@CertificationyWebBundle/Resources/public/vendor/jquery/jquery.min.js'
                '@CertificationyWebBundle/Resources/public/vendor/bootstrap/js/bootstrap.bundle.min.js'
                '@CertificationyWebBundle/Resources/public/vendor/jquery-easing/jquery.easing.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
