{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">{{ question.category.name }} - {{left_questions}} / {{total_questions}}</div>
    <div class="card-body">
        <div class="form-group">
            {{ form_start(form, {'action': path('question_show')}) }}
                {% if question.multipleanswers == true %}
                    <p>{{ "multiple choices"|trans }}</p>
                {% else %}
                    <p>{{ "one choice"|trans }}</p>
                {% endif %}
                <p>{{ form_errors(form) }}</p>
                {{ form_widget(form) }}

                <input type="submit" value="Next" class="btn btn-primary btn-block" />
            {{ form_end(form) }}
        </div>
    </div>
</div>
