{% extends '@CertificationyWebBundle/layout_two_column.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="card card-register">
        <div class="card-header">{{ question.category.name }}</div>
        <div class="card-body">
            <div class="form-group">
                {{ form_start(form, {'action': path('question_show')}) }}
                    <p>{{ form_errors(form) }}</p>
                    {{ form_widget(form) }}

                    <input type="submit" value="Next" class="btn btn-primary btn-block" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card text-white bg-secondary" style="max-width: 20rem;">
        <div class="card-header">Test running</div>
        <div class="card-body">
            <h4 class="card-title">Secondary card title</h4>
            <div class="card-text">
                <div class="progress">
                    {% set size = left_questions / total_questions * 100 %}
                    <div class="progress-bar" role="progressbar" style="width: {{ size }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{left_questions}} / {{total_questions}}</div>
                </div>
                {{ "Category"|trans }}: {{ question.category.name }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

