{% extends '@CertificationyWebBundle/layout_two_column.html.twig' %}

{% set correct = 0 %}
{% block body %}
    {% for user_answer in user_answers %}
        {% set question = user_answer.question %}
        <div class="card card-result">
{#            <div class="card-header">{{ questzion.category.name }}</div>#}
            <div class="card-body">
                <p>{{ question.label }}</p>
                <ul class="list-group">
                    {% for questionsAnswer in question.questionsAnswers %}
                        <li class="list-group-item">{{ questionsAnswer.answer.label }}</li>
                    {% endfor %}
                </ul>
                <hr/>
                <ul class="list-group">
                    {% set is_correct = true %}
                    {% for answer in user_answer.user_answer %}
                        {% for questions_answers in user_answer.userAnswers if questions_answers.question.id == question.id %}
                            {% if questions_answers.isCorrect %}
                                {% set class = 'list-group-item-success' %}
                            {% else %}
                                {% set class = 'list-group-item-danger' %}
                                {% set is_correct = false %}
                            {% endif %}
                            <li class="list-group-item {{ class}}">
                                {{ questions_answers.answer.label }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                    
                    {% if is_correct %}
                        {% set correct = correct + 1 %}
                    {% endif %}
                </ul>
                <hr/>
                <p>{{ "Help"|trans }}</p>
                {# @todo implement it #}
                _
                <hr/>
                <p>{{ "Author"|trans }}</p>
                {# @todo implement it #}
                _
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="card text-white bg-secondary" style="max-width: 20rem;">
        <div class="card-header">Test</div>
        <div class="card-body">
            <h4 class="card-title">{{ correct }}/{{ questions|length }}</h4>
            <div class="card-text">
                <hr/>
                <a href="{{ path("homepage") }}">{{ "Home page"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

